<br>
<div class="row header">
  <div class="large-5 columns">
    <img src="<%= image_url 'Logo.png'%>">
  </div>
  <div class="large-5 columns">
    <p class='text'>
      Fill out the fields below describing 6 things that you would like to do every day, will do by the end of this year or in your lifetime (please, not more than 60 symb.). Give yourself some advice or a reminder. Or even proclaim a manifesto!
    </p>
    <p class='text'>
      Generate your motivation cube, assemble it, place it on your desk and never forget your goals, plans and intentions!
    </p>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <img src="<%= image_url 'Cube.jpg'%>">
  </div>
  <div class="large-5 columns">
    <%= simple_form_for :cube, :url => '/home/generate_cube', defaults: { input_html: { maxlength: 60 }, label: false } do |f| %>
      <%= f.input :field1, placeholder: 'I would like to go jogging every day' %>
      <%= f.input :field2, placeholder: 'I want to do a parachute jump' %>
      <%= f.input :field3, placeholder: 'I want to never stop learning' %>
      <%= f.input :field4, placeholder: 'Don’t forget to sort your recyclable waste' %>
      <%= f.input :field5, placeholder: 'Always love people' %>
      <%= f.input :field6, placeholder: 'Just smile right now :)' %>
      <%= f.button :submit, "Get my motivation cube!" %>
    <% end %>
  </div>
</div>
<br>
<div class="row footer">
  <div class="large-2 columns">
    <img src="<%= image_url 'Zelenska.png'%>">
  </div>
  <div class="large-4 columns">
    <p class='text'>
      Hello!
      My name is Olga Zelenska, I am from Ukraine. I am a first year student at School of Form and Motivation Cube is my psychology project. I worked as a freelance designer for a few years and I know how difficult it can be to find motivation for sport or an English lesson.
    </p>
  </div>
  <div class="large-5 columns left">
    <p class='text'>
      This Cube will not solve these problems for you, but it can capture your attention at the right moment and remind you of something important.
    </p>
    <p class='text'>
      If you wish to send me a photo of your cube, tell your story or share your experience in case you used this cube and found it helpful – write to <%= mail_to 'olyzel@gmail.com' %>, I would be happy to receive feedback.
    </p>
  </div>
</div>
